{# Facebook Sharing Metas #}
{#<meta property="fb:app_id" content="{{ app.facebook.appID }}" />
<meta property="og:site_name" content="{{ app.name }}" />
<meta property="og:title" content="{{ app.name }}" />
<meta property="og:url" content="{{ url() }}" />
<meta property="og:type" content="website"/>
<meta property="og:image" content="{{ url('images/bgs/bg-ef-fb-share.jpg') }}" />
<meta property="og:description" content="{{ app.name }}" />#}
