/* ---------------------------------------------------------------------------------------
	Account pages SCSS rules
---------------------------------------------------------------------------------------- */

section.dashboard{
  font-family: $app_primary_font;
  color: $app_primary_color;
  clear: both;

  @include grid-row();

  @include foundation-ef-row-rules;

  div.action{
    cursor: pointer;
    position: relative;
    //height: 22.1rem;
    @include grid-column(6,0);

    //rules after grid rules
    max-width: rem-calc(641);
    margin: rem-calc(9) 0;

    @include breakpoint(medium only){
      margin: 0;
    }

    h1{
      font-family: $app_primary_font;
      font-weight: 700;
      letter-spacing: 0.3rem;
      font-size: 4.263rem;
      text-shadow: 0 0.125rem 0.063rem rgba(0, 0, 0, 0.5);
      line-height: 6.188rem;
      text-align: center;
      margin: rem-calc(110) 0 rem-calc(38) 0;
      position: relative;
      z-index: 4;
      color: white;
    }

    &:after, &:before{
      content: '';
      position: absolute;
      width: rem-calc(671);
      max-height: 22.1rem;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
    }

    &:after{
      @include transition(all .3s ease-in-out);
      filter: grayscale(0) blur(0);
      background-size: 103% ;
      background-repeat: no-repeat;
      background-position: center center;
    }

    &:hover:after{
      background-size: 120%;
      filter: grayscale(100%) blur(3px);
    }

    &#tactic:after{
      background-image: url("../images/bgs/course_bg1.jpg");
    }
    &#technique:after{
      background-image: url("../images/bgs/course_bg2.jpg");
    }
    &#defense:after{
      background-image: url("../images/bgs/course_bg3.jpg");
    }
    &#attack:after{
      background-image: url("../images/bgs/course_bg4.jpg");
    }

    & a{
      z-index: 20;
      position: relative;
    }

    &:before{
      z-index: 4;
      background-image: linear-gradient(180deg, transparent 40%, #0b161c 100%);
    }
  }

  .score, .percentage{
    opacity: 0.89;
    height: 3.313rem;
    margin-bottom: 1.2rem;
  }

  .score{
    position: relative;
    overflow: hidden;
    width: rem-calc(190);
    padding-left: 0.6rem;

    &:before{
      content: "";
      width: 100%;
      height: 100%;
      z-index: -1;
      @include position(absolute, 0 0 0 -18px);
      background-image: linear-gradient(to left, rgba(4, 24, 34, 0.09) 0%, #020c11 100%);
      @include transform(skew(-30deg,0deg));
    }

    &ul{
      width: 100%;
      height: 100%;
    }
    li{
      width: 31px;
      height: rem-calc(52);
      //padding: rem-calc(25) rem-calc(1);
    }
    li.star-on{
      background: url("../images/icons/star_on.png") no-repeat center center;
    }
    li.star-off{
      background: url("../images/icons/star_off.png") no-repeat center center;
    }
  }

  .percentage{
    font-family: $app_primary_font;
    font-size: 2.238rem;
    line-height: 3rem;
    color: $app_blue_color;
    position: relative;
    overflow: hidden;
    width: 7.563rem;
    text-align: right;
    padding: 0 rem-calc(10) 0 0;
    text-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.5);
    font-weight: 700;
    letter-spacing: 0.125rem;

    //percentage symbol
    & span.count{
      float: right;
      letter-spacing: rem-calc(-1);
    }

    //percentage symbol
    & span.percent-symbol{
      //display: block;
      float: right;
      text-align: right;
      font-size: 1.4rem;
      line-height: 3.5rem;
    }

    //shadow
    &:before{
      content: "";
      width: 100%;
      height: 100%;
      z-index: -1;
      @include position(absolute, 0 0 0 19px);
      @include background(linear-gradient(270deg, rgba(4,24,34,0.09) 0%, #020C11 97%));
      //background-image: linear-gradient(270deg, rgba(4, 24, 34, 0.09) 0%, #020c11 100%);
      @include transform(skew(-30deg,0deg));
    }
  }
}
