/**
 * Auth Styles
 */

//singIn
section.signin-box{

	@extend %app-centered-screen;
	width: rem(600);
	background-color: rgba(0, 0, 0, 0.6);

	//header
	div.signin-header{
		background-color: rgba(0, 0, 0, 0.6);
		display: block;
		text-align: center;
		img{
			padding: rem-calc(14 0 17 0);
			max-width: rem-calc(480)
		}
	}

	//body
	div.signin-body {
		padding: rem-calc(0 76);
		//form
		div.app-form {
			//first div
			> div:nth-child(1) {
				padding-top: 5px;
			}
			button.submit {
				margin-top:rem-calc(20); 
				padding: rem-calc(16 30);
				background-color: #009be1;
				font-size: rem-calc(12);
				text-transform: uppercase;
			}
			input {
				margin: 0;
      			&:nth-of-type(n+1) { margin-top:rem-calc(20); }
			}
			//checkbox
			input[type=checkbox] { display: none; }
			input[type='checkbox'] + label {
				width: 100%;
				height: 20px;
				padding-left: 25px;
				margin: 0;
				background: url("../images/icons/uncheck.png") no-repeat left center;
				border-radius: 3px;
				color: white;
				font-size: 15px;
				font-weight: 500;
				line-height: 20px;
				cursor: pointer;
				&:checked {
					background: url("../images/icons/check.png") no-repeat left center;
				}
			}
		}
		//fb button
		button.app-btn-fb.styled {
			display: block;
			width: 100%;
			height: rem(42);
			margin: rem(57) auto rem(15) auto;
			background-color: #3b5998;
			line-height: normal;
			text-align: center;
			text-transform: uppercase;
			color: white;
			font-family: $app_secondary_font;
			font-size: 12px;
			font-weight: 700;
			&:hover, &:active, &:focus {
				background-color: #253766;
				color: white;
			}
			&:disabled, &:disabled:hover {
				background: #999;
				color: #fff;
			}
		}
	}

	div.signin-footer{
		vertical-align: middle;
		text-align: center;
		margin-top: 46px;

		> div:nth-child(1){
			margin-bottom: 5px;
		}
		/* if exists just one div*/
		div:first-child:nth-last-child(1) {
			margin-bottom: 0;
		}
		> div{
			width: 100%;
			background-color: rgba(0, 0, 0, 0.6);
		}
		p {
			padding: 23px 0;
			margin: 0;
		}
	}
}
