/* ---------------------------------------------------------------------------------------
	Contents SCSS rules
---------------------------------------------------------------------------------------- */


.subcourses {
  @include foundation-ef-row-rules;

  .subcourse {
    background-image: linear-gradient(to left, rgba(4, 24, 34, 0.49) 0%, #020c11 100%);
    height: rem-calc(198);
    margin-bottom: rem-calc(30);
    overflow: hidden;

    div.pic:nth-child(1){
      position: relative;
      overflow: hidden;
      @include grid-col(4,0);
      height: rem-calc(198);
      max-width: 24.063rem;

      img{
        width: 100%;
        height: 100%;
      }

      //shine hide effect
      &:before{
        position: absolute;
        top: 0;
        left: -110%;
        z-index: 2;
        display: block;
        content: '';
        width: 80%;
        height: 100%;
        background: linear-gradient(to right, rgba(255,255,255,0) 0%, rgba(255,255,255,.3) 100%);
        transform: skewX(-25deg);
      }
    }

    div.pic{
      padding: 0;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center center;
      z-index: 2;
    }

    div.description-box{
      @include grid-col(8,0);
      max-width: 58rem;
      padding-right: 0;
    }

    /// Shine pic effect
    &:hover{
      div.pic:nth-child(1):before{
        @include animation(shine .75s);
      }

      @include keyframes(shine) {
        to{
          left: 125%;
        }
      }
    }

    ul.subcourse-indicator{
      li{
        width: 40px; height: 40px;
        margin-right: rem-calc(16);
        float: left;
      }
    }
    h1{
      font-family: $app_primary_font;
    }
    h2{
      font-family: $app_primary_font;
      text-transform: inherit;
      padding-top: 1.8rem;
      clear: both;
    }

    div.description{
      padding-top: rem-calc(15);
      padding-left: 0;
    }

    .subcourse-name{
      width: 3.688rem;
      right: -0.0625rem;
      position: relative;
      background-color: #009be1;

      h1{
        height: rem-calc(200);
        text-shadow: none;
        color: #0c202a;
        display: table-cell;
        transform-origin: left top -50%;
        vertical-align: text-top;
        font-family: $app_primary_font;
        font-weight: 700;
        @include transform(rotate(-90deg));
        text-transform: uppercase;
        width: 100%;
        position: relative;
      }

      //special rules for vertical text
      h1#defense-vertical-text{
        line-height: 3.6rem;
      }
      h1#attack-vertical-text{
        line-height: 5.1rem;
      }
      h1#tactic-vertical-text{
        line-height: 4rem;
      }
      h1#technic-vertical-text{
        line-height: 4rem;
      }
    }

    .percentage{
      font-family: $app_primary_font;
      line-height: 1;
      color: $app_blue_color;
      position: absolute;
      overflow: hidden;
      width: rem-calc(137);
      padding: rem-calc(9) rem-calc(30) 0 rem-calc(20);
      height: rem-calc(64);
      left: 0;
      bottom: rem-calc(10);
      z-index: 0;
      //margin-top: 125px;
    }
    .percentage:before{
      content: "";
      width: 100%;
      height: 100%;
      z-index: -1;
      @include position(absolute, 0 0 0 -20px);
      @include background(linear-gradient(126deg, rgba(4,24,34,0.09) 0%, #020C11 100%));
      @include transform(skew(-32deg,0deg));
    }
  }

  //Inactive boxes
  div.inactive{
    position: relative;
    height: 9.938rem;
    overflow: hidden;
    cursor: pointer;

    //shake animation
    &:hover{
      div.pic:after{
        animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
        transform: translate3d(0, 0, 0);
        backface-visibility: hidden;
      }

      @keyframes shake {
        10%, 90% {
          transform: translate3d(-1px, 0, 0);
        }

        20%, 80% {
          transform: translate3d(2px, 0, 0);
        }

        30%, 50%, 70% {
          transform: translate3d(-4px, 0, 0);
        }

        40%, 60% {
          transform: translate3d(4px, 0, 0);
        }
      }
    }

    div.pic{
      &:nth-child(1){
        height: 9.938rem;
        z-index: inherit;
        text-align: center;
        position: relative;

        @include grid-col(3, 0);

        max-width: 19.188rem;

        & img{
          height: 100%;
          width: 100%;
        }

        &:after{
          content: '';
          background-image: url("../images/icons/padlock-icon.png");
          position: absolute;
          height: 100%;
          width: 100%;
          background-repeat: no-repeat;
          background-position: center;
          left: 0;
          top: 0;
        }
      }
    }

    div.description-box{
      padding-left: rem-calc(27);

      @include grid-col(9,0);

      max-width: 61rem;

      & .description{
        padding-top: 0.5rem;
        padding-left: 0.2rem;
      }
      & h1{
        font-size: rem-calc(35);
        margin-bottom: 0;
        color: white;
      }
      & h2{
        font-size: rem-calc(20);
        padding-top: 2.2rem;
      }

      & .subcourse-name{
        width: 3rem;
        position: relative;
        background-color: rgba(255, 255, 255, 0.3);
        h1{
          height: rem-calc(160);
          font-size: 34px;
          color: #0c202a;
        }

        //special rules for vertical text
        h1#defense-vertical-text{
          line-height: 1.8rem;
        }
        h1#tactic-vertical-text{
          line-height: 2.5rem;
        }
        h1#technic-vertical-text{
          line-height: 2.1rem;
        }
      }
    }

    //ul inactive
    ul.subcourse-indicator{
      li{
        width: 30px; height: 30px;
        border-radius: 15px;
        margin-right: 15px;
      }
    }

    //shadow mask
    &:before{
      content: '';
      position: absolute;
      opacity: 0.7;
      background-color: black;
      width: 100%;
      z-index: 1;
      height: rem-calc(161);
    }
  }
}

/** Content general rules **/
section.content {
  @include foundation-ef-row-rules;
  position: relative;
  overflow: hidden;

  div.content-header {
    width: 100%;
    padding: 1.5rem 0 1.5rem 0.5rem;
    position: relative;
    z-index: 2;

    //background shadow
    &:before{
      content: "";
      height: 39rem;
      width: 100%;
      left: 0;
      top: 0;
      position: absolute;
      z-index: -2;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center top;
      background-image: url("../images/bgs/attack-construction-bg1.jpg"), linear-gradient(to top, transparent 0%, #0b161c 100%);
    }

    //vertical shadow
    &:after{
      content: '';
      height: 39rem;
      width: 100%;
      position: absolute;
      top:0;
      left: 0;
      z-index: -2;
      background-image: linear-gradient(270deg, transparent 0%, #071921 100%);
    }



    h2{
      color: $app_primary_color;
      display: inline-block;
      font-family: $app_primary_font;
      float: left;
      text-shadow: 0 2px 1px rgba(0, 0, 0, 0.5);
      font-size: 2.188rem;
      font-weight: 400;
      line-height: 2.188rem;
    }

    ul.score{
      margin-top: 8px;
      margin-left: 15px;
      float: left;
      li{
        width: 27px;
        height: 27px;
        float: left;
        font-family: $app_primary_font;
      }
      li.star-full{
        background: url("../images/icons/starfull-icon.png") no-repeat center center;
      }
      li.star-half{
        background: url("../images/icons/starhalf-icon.png") no-repeat center center;
      }
      li.star-empty{
        background: url("../images/icons/star.png") no-repeat center center;
      }
    }

    ul.circles{
      clear: both;
      li{
        width: rem-calc(40); height: rem-calc(40);
        margin-right: rem-calc(20);
        float: left;
      }
    }
  }

  // Content body
  div.content-body{
    padding: 13rem 1.5rem 1rem 1.5rem;
    font-family: $app_primary_font;
    min-height: 31rem;

    h2{
      text-transform: inherit;
      margin: 0;
      position: relative;
      z-index: 4;
      text-shadow: 0 0.125rem 0.063rem rgba(0, 0, 0, 0.5);
      color: white;
      font-size: 1.563rem;
      font-weight: 700;
      letter-spacing: 0.044rem;
      line-height: 2.188rem;
    }
    p{
      position: relative;
      z-index: 4;
      letter-spacing: rem-calc(-0.5);
      text-shadow: 0 0.125rem 0.063rem rgba(0, 0, 0, 0.5);
      font-size: 1.25rem;
      font-weight: 400;
      line-height: 1.688rem;
      a{
        color: $app_blue_color;
      }
    }
    div.content-body-types{
      height: 210px;
      margin-top: 40px;
      position: relative;

      p.test-link{
        & a{
          margin-left: rem-calc(35);
          &:before{
            content: url("../images/icons/star.png");
            position: absolute;
            left: 0.5rem;
          }
        }

        &:before{
          @include background(linear-gradient(to right, rgba(255, 203, 0, 0.01) 0%, #ff9600 100%));
        }

        //shake animation
        &:hover{
          h3{
            animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
            transform: translate3d(0, 0, 0);
            backface-visibility: hidden;
          }

          @keyframes shake {
            10%, 90% {
              transform: translate3d(-1px, 0, 0);
            }

            20%, 80% {
              transform: translate3d(2px, 0, 0);
            }

            30%, 50%, 70% {
              transform: translate3d(-4px, 0, 0);
            }

            40%, 60% {
              transform: translate3d(4px, 0, 0);
            }
          }
        }
      }

      p{
        width: 303px;
        height: 49px;
        margin-bottom: 20px;
        text-align: left;
        padding-left: 10px;
        padding-top: rem-calc(11);
        position: relative;
        overflow: hidden;
        z-index: 2;
        text-shadow: none;

        color: #e6e6e6;
        font-size: 1.25rem;
        font-weight: 400;
        line-height: 1.688rem;

        a {
          color: #fff;
          &:hover { color:#ddd; }
        }

        &:before{
          content: "";
          width: 80%;
          height: 100%;
          z-index: -1;
          @include position(absolute, 0 0 0 1rem);
          @include background(linear-gradient(270deg, #0097dc 0%, #0097dc 6%, transparent 100%));
          @include transform(skew(-32deg,0deg));
        }
      }
    }
  }
}
