/* ---------------------------------------------------------------------------------------
	Layout SCSS rules
---------------------------------------------------------------------------------------- */

/* Wrappers
---------------------------------------------------------------------------------------- */

html, body { background-color: #222;}

body {

  // General box content
  #wrapper {
    height:100%;
    > div {
      min-height:100%;
      overflow-x: hidden;
    }
  }

  h1,h2,h3{
    font-family: $app_primary_font;
  }

  h1{
    text-shadow: 0 2px 1px rgba(0, 0, 0, 0.5);
    color: #009be1;
    font-size: 40px;
    font-weight: 400;
    line-height: 48px;
  }

  h3{
    font-weight: 500;
    line-height: 24px;
    font-family: $app_primary_font;
    text-shadow: 0 2px 1px rgba(0, 0, 0, 0.5);
    span.blue{
      color: $app_blue_color;
      line-height: 1.4;
      margin-left: rem-calc(5);
    }
  }

  ul{
    margin: 0; padding: 0;
    li{
      list-style: none;
    }
  }

  .app-account-wrapper, .app-courses-wrapper{
    @include app-bg-cover("../images/bgs/bg_home.jpg");
  }

  .app-auth-wrapper{
    @include app-bg-cover("../images/bgs/bg_login.jpg");
    min-height:100%;
    padding-top: $app_padding_top;
  }
}

//Header
header{
  font-family: $app_primary_font;
  color: $app_primary_color;
  margin-bottom: 1rem;

  @include foundation-ef-row-rules;

  a{
   color: #FFF;
   &:hover { color: #2199e8; }
  }

  nav.top-bar{
    background-color: #0f2732;
    padding: 0;
    height: 3.875rem;

    ul{
      background: none;
    }

    //logotype
    .top-bar-left{
      height: 100%;
      @include app-bg-image-retina("../images/logos/logo-main", "png", 11rem, 3rem, "0.1");
      background-repeat: no-repeat;
      background-position: rem-calc(9.6);
      background-size: 85%;
      a {
        display: inline-block;
        width: 80%;
        height: 100%;
      }
      @include grid-col(2);
    }

    .top-bar-right{
      //padding-left: 0 !important;
      @include grid-col(10);

      //top navigation
      ul.top-navigation{
        @include grid-col(5);
        text-transform: uppercase;
        font-size: 0.938rem;
        font-weight: 700;
        letter-spacing: 0.03rem;
        line-height: 1.25rem;
        padding-top: 0.9rem;
        padding-left: 0 !important;

        & li:first-child > a{
          padding-left: 0 !important;
        }

        & li.active a{
          color: $app_blue_color;
        }
      }

      //profile navigation
      ul.profile{
        @include grid-col(7);
        padding-top: 0.5rem;
        padding-right: 0 !important;

        img{
          padding-left: rem-calc(6);
        }
        //username
        .profile-name{
          color: white;
          font-size: 0.938rem;
          font-weight: 700;
          line-height: 1.313rem;
          margin-left: rem-calc(17);
          font-size: 0.938rem;
          font-weight: 700;
          letter-spacing: 0.03rem;
        }

        //flag
        img.flag{
          width: 1.438rem;
          height: 1rem;
          margin-right: 1rem;
        }

        //arrow modified
        .is-down-arrow > a::after{
          border: none;
          @include size(rem-calc(15) rem-calc(8));
          top: 1rem;
          background-image: url("../images/icons/arrow-down.png");
        }

        .is-dropdown-submenu{
          background-color: black;
          z-index: 5;
        }

        a.alert{
          width: 8.813rem;
          height: 1.438rem;
          margin-top: rem-calc(11);
          margin-right: rem-calc(25);
          background-image: linear-gradient(180deg, #f9003b 0%, #a60014 100%);
          border-radius: 0.5rem;
          text-align: left;
          padding: rem-calc(4) 0 0 0;
          color: white;
          font-family: $app_secondary_font;
          font-size: 0.75rem;
          font-weight: 400;
          line-height: 0.875rem;

          i.icon-alert{
            width: 0.938rem;
            height: 0.938rem;
            margin: 0 rem-calc(4) 0 rem-calc(10);
            background-image: url("../images/icons/icon-alert.png");
            background-size: 100%;
          }
        }
      }
    }
  }

  nav{
    margin: auto;
    height: 5.688rem;
    font-family: $app_primary_font;
    z-index: 2;

    //Media Queries
    @include breakpoint(large up) {
      max-width: $large-breakpoint;
    }

    @include breakpoint(xlarge up) {
      max-width: $xlarge-breakpoint;
    }
  }
}

.breadcrumb{
  clear: both;
  text-transform: uppercase;
  font-family: $app_primary_font;
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 1.688rem;

  h3{
    display: inline-block;
  }

  @include grid-row();

  //Media Queries
  @include breakpoint(large up) {
    max-width: $large-breakpoint;
  }

  @include breakpoint(xlarge up) {
    max-width: $xlarge-breakpoint;
  }
}

.font-size-35{
  font-size: rem-calc(40);
}
.font-size-47{
  font-size: rem-calc(47);
}
.font-size-61{
  font-size: rem-calc(61);
}

// Preloader
.preloaders{
  background: url("../images/bgs/30.gif") no-repeat center center;
}
