/* ---------------------------------------------------------------------------------------
	Contents SCSS rules
---------------------------------------------------------------------------------------- */

/** Content general rules **/
section.player {
  @include foundation-ef-row-rules;
  position: relative;
  overflow: hidden;

  //header
  div.player-header {
    padding: rem-calc(40) rem-calc(30) 0 rem-calc(30);
    width: 100%;
    position: relative;
    z-index: 4;
    display: block;
    height: 5.5rem;
    margin-bottom: 1rem;

    //background
    &:before{
      content: "";
      height: 42.5rem;
      width: 100%;
      left: 0;
      top: 0;
      position: absolute;
      z-index: -2;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center top;
      background-image: url("../images/bgs/attack-construction-bg1.jpg"), linear-gradient(to top, transparent 0%, #0b161c 100%);
    }

    //background-shadow header
    &:after{
      content: "";
      height: rem-calc(205);
      width: 100%;
      left: 0;
      top: 0;
      z-index: -1;
      position: absolute;
      @include background(linear-gradient(to top, transparent 0%, #0b161c 100%));
    }

    h2{
      color: $app_primary_color;
      display: inline-block;
      float: left;
      text-shadow: 0 2px 1px rgba(0, 0, 0, 0.5);

    }

    h3.counter{
      color: white;
      font-family: $app_dsdigital_font;
      font-size: 2.188rem;
      font-weight: 700;
      float: right;
      line-height: 1.4;
      font-style: italic;
    }

    a.next-courselink{
      width: 16.438rem;
      height: 3.063rem;
      text-transform: uppercase;
      color: #e6e6e6;
      font-size: 1.25rem;
      font-weight: 400;
      line-height: 3rem;
      float: right;
      position: relative;
      text-align: center;
    }

    a.next-courselink:before{
      content: "";
      width: 100%;
      height: 100%;
      z-index: -1;
      position: absolute;
      left: -1rem;
      @include background(linear-gradient(270deg, #0d212a 0%, #0097dc 0%, transparent 100%));
      @include transform(skew(-32deg,0deg));
    }

    //star scores
    ul.score{
      margin-top: 8px;
      margin-left: 15px;
      float: left;
      li{
        width: 27px;
        height: 27px;
        float: left;
      }
      li.star-full{
        background: url("../images/icons/starfull-icon.png") no-repeat center center;
      }
      li.star-half{
        background: url("../images/icons/starhalf-icon.png") no-repeat center center;
      }
      li.star-empty{
        background: url("../images/icons/starempty-icon.png") no-repeat center center;
      }
    }

    // circles score
    ul.circles{
      clear: both;
      height: rem-calc(40);
      li{
        width: 40px; height: 40px; background-color: $app_primary_color;
        border-radius: 20px;
        margin-right: 20px;
        float: left;
      }
    }
  }

  // body of player
  div.player-body{
    //padding-bottom: rem-calc(25);
    padding: 0 rem-calc(30) rem-calc(25) rem-calc(30);
    font-family: $app_primary_font;
    z-index: 4;
    clear: both;
    position: relative;

    //@include grid-col-collapse();

    h2{
      text-transform: inherit;
      margin: 0;
      text-shadow: 0 2px 1px rgba(0, 0, 0, 0.5);
    }
    p{
      text-shadow: 0 2px 1px rgba(0, 0, 0, 0.5);
      font-size: 20px;
    }

    //video rules
    div.video-box{
      @include grid_col(8);
      background: url("../images/bgs/30.gif") #000 no-repeat center center;
      background-size: rem-calc(80) rem-calc(10);
      padding: 0 !important;
      height: 33.8rem;
      position: relative;
      z-index: 1;
      left: 0;
      overflow: hidden;

      & iframe {
        height: 100%;
        display: block;
      }

      & video{
        height: 100%;
        width: 100%;
      }
    }

    // player main control
    div.player-main{
      @include grid_col(4);
      padding: 0 !important;

      // Player control
      div.player-control{
        width: 100%;
        height: rem-calc(45);
        overflow: hidden;
        z-index: 4;
        position: relative;
        padding-left: 2rem;
        background-image: linear-gradient(180deg, #009be1 0%, #004b6f 100%);

        > img{
          margin: rem-calc(10) rem-calc(7);
        }
        > img, div{
          cursor: pointer;
        }
        div#play{
          margin: rem-calc(10 7);
          width: 0;
          height: 0;
          border-style: solid;
          border-width: 0.78125rem 0 0.78125rem 1.35625rem;
          border-color: transparent transparent transparent #020c11;
        }
      }

      // only exam timeline
      ul.timeline.exam{
        height: 34rem;
      }

      //Timeline
      ul.timeline{
        background-color: rgba(0, 0, 0, 0.9);
        padding: 1.75rem;
        overflow: hidden;
        z-index: 2;
        height: 31rem;

        li, li.active{
          font-family: $app_primary_font;
          font-weight: bold;
          padding-left: rem-calc(45);
          padding-bottom: 0.5rem;
          position: relative;
          cursor: pointer;
          overflow: hidden;
          display: -webkit-box;
          -webkit-line-clamp: 2;
          -webkit-box-orient: vertical;
        }
        li.active{
          color: white;
          display: block;
          font-size: 1.188rem;
          font-weight: 400;
          line-height: 1.625rem;
        }
        li.active{
          box-shadow: 11px 17px 150px -8px rgba(0,0,0,0.49);
        }
        li.active:after{
          content: attr( data-label-second );
          text-align: center;
          width: 30px; height: 30px; background-color: $app_blue_color;
          border-radius: 15px;
          @include position(absolute, 0 0 0 0);
        }
        li.active:before{
          content: "";
          width: 1px;
          height: 100%;
          opacity: 0.5;
          background-color: $app_grey_color;
          background-repeat: repeat-y;
          @include position(absolute, 0 0 0 rem-calc(15));
        }

        //not active class
        li:not(.active){
          opacity: 0.5;
          font-size: 0.938rem;
          font-weight: 400;
        }

        li{
          padding-bottom: rem-calc(26);
        }

        li:hover{
          @include transition( 0.5s ease-in-out );
        }
        li.active:hover:after{
          @include transition( 0.5s ease-in-out );
          @include position(absolute, 50% 0 0 0);
          margin-top: -15px;
        }

        li.active:first-child:hover:before{
          @include transition( 0.5s ease-in-out );
          @include position(absolute, 50% 0 0 rem-calc(15));
          height: 50%;
        }

        li:after{
          content: "";
          width: 20px; height: 20px; background-color: #3e3e3e;
          @include position(absolute, 0 0 0 rem-calc(5));
          @include transition( 0.5s ease-in-out );
        }
        li:before{
          content: "";
          width: 1px;
          opacity: 0.5;
          background-color: $app_grey_color;
          background-repeat: repeat-y;
          @include position(absolute, 0 0 0 rem-calc(15));
        }
        li:last-child:before{
          background: none;
        }
      }
    }
  }

  // only exam timeline
  div.exam-content.exam{
    height: 34rem;
  }

  div.exam-content{
    background-color: white;
    padding: 1.7rem 1.625rem 1.5625rem 4.5rem;
    height: 31rem;
    position: relative;
    line-height: 1.25rem;
    color: #4a4a4a;
    font-family: $app_primary_font;
    font-size: 0.938rem;
    overflow-y: scroll;

    @include grid-col(8);

    ul{
      counter-reset: list;
      text-align: justify;
      li{
        list-style: none;
        position: relative;
        margin-bottom: rem-calc(20);
        margin-left: rem-calc(82);
        cursor: pointer;
      }
      li:before{
        content: counter(list, lower-alpha) ") \00a0";
        counter-increment: list;
        position: relative;
        display: block;
        float: left;
      }

      //icon selected
      li.active:after{
        content: " ";

        @include size(1.8rem);
        background-color: #0097dc;
        border: 0.25rem solid #4a4a4a;
        border-radius: 50%;
      }

      //icon not selected
      li:after{
        content: " ";
        position: absolute;
        left: rem-calc(-60);
        top: 2rem;
        @include size(1.8rem);
        background-color: white;
        border: 0.25rem solid #4a4a4a;
        border-radius: 50%;
      }
    }

    ul.questions{
      display: none;
      p{
        color: #4a4a4a;
        font-size: 0.938rem;
        line-height: 1.5rem;
        text-shadow: none;
      }
    }
  }
}
