/**
 * App Settings
 * Foundation 6.1.2
 */

 //foundation utils [functions & mixins]
 @import 'util/util';


/* App Vars
---------------------------------------------------------------------------------------- */

//app
$app_name : "EF";

//fonts
@import url(https://fonts.googleapis.com/css?family=Montserrat); // Monserrat Font

$app_fonts_dir	    : "../fonts/";
$app_primary_font   : "clearSansRegular", sans-serif;
$app_secondary_font : "Montserrat", sans-serif;
$app_dsdigital_font : "dsDigital", sans-serif;


// Font variables
//$clear-sans-font: 'Clear Sans', Arial;

//font-face (path ../fonts/<lower_case_name>/<font_real_name>.tff)
@each $font-face in "clearSansRegular", "dsDigital" {
    @font-face {
          font-family: $font-face; font-style: normal; font-weight: normal;
          src: url('#{$app_fonts_dir}#{to-lower-case($font-face)}/#{to-lower-case($font-face)}.eot'); /* IE9 Compat Modes */
          src: url('#{$app_fonts_dir}#{to-lower-case($font-face)}/#{to-lower-case($font-face)}.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
               url('#{$app_fonts_dir}#{to-lower-case($font-face)}/#{to-lower-case($font-face)}.woff2') format('woff2'), /* Super Modern Browsers */
               url('#{$app_fonts_dir}#{to-lower-case($font-face)}/#{to-lower-case($font-face)}.woff') format('woff'), /* Pretty Modern Browsers */
               url('#{$app_fonts_dir}#{to-lower-case($font-face)}/#{to-lower-case($font-face)}.ttf')  format('truetype'), /* Safari, Android, iOS */
               url('#{$app_fonts_dir}#{to-lower-case($font-face)}/#{to-lower-case($font-face)}.svg#open_sansregular') format('svg'); /* Legacy iOS */
    }
}

//colors
$app_primary_color    : #fff;
$app_secondary_color  : #0097dc;
$app_tertiary_color   : #333;
$app_quaternary_color : #628F14;
$app_blue_color       : #0097dc;
$app_grey_color: #e6e6e6;

$app_success_color : #3adb76;
$app_warning_color : #ffae00;
$app_alert_color   : #ec5840;

//app general
$app_header_height : 5rem;
$app_general_width_rem : 100rem;
$app_padding_top : rem-calc(42);

// Global
// ---------

$foundation-palette: (
  primary: #2199e8,
  secondary: #777,
  success: #3adb76,
  warning: #ffae00,
  alert: #ec5840,
);

//@include add-foundation-colors;


// Typography
// ---------

//$body-background: $app_body_bg_color;
$body-font-color: $app_primary_color;
$body-font-family: $app_primary_font;
$body-antialiased: false;

$anchor-color: $app_primary_color;
$anchor-color-hover: scale-color($anchor-color, $lightness: -14%);

$header-sizes: (
  small: (
          'h1': 24,
          'h2': 20,
          'h3': 19,
          'h4': 18,
          'h5': 17,
          'h6': 16,
  ),
  medium: (
          'h1': 48,
          'h2': 40,
          'h3': 31,
          'h4': 25,
          'h5': 20,
          'h6': 16,
  ),
  large: (
          'h1': 40,
          'h2': 30,
          'h3': 20,
          'h4': 15,
          'h5': 10,
          'h6': 5,
  ),
);

// Breakpoints
// --------------
$breakpoint-classes: (small medium large xlarge);

$small-breakpoint:  rem-calc(0)  !default;
$medium-breakpoint: rem-calc(640) !default;
$large-breakpoint:  rem-calc(1360) !default;
$xlarge-breakpoint: rem-calc(1440) !default;


// Mixins
// --------------

@mixin foundation-ef-row-rules{
  // Responsive content rule to rows

  @include breakpoint(medium up) {
    padding-left: rem-calc(30);
    padding-right: rem-calc(30);
  }

  @include breakpoint(large up) {
    max-width: $large-breakpoint;
    margin-left: auto;
    margin-right: auto;
  }
}
