<section class="player">
    <section class="breadcrumb">
        <a href="{{ url() }}"><h3>» ciclos formativos .ataque.CONSTRUCCIÓN EN ATAQUE</h3></a> <h3><span class="blue"> PRUEBA</h3></span>
    </section>
    <div class="player-header">
        <h2>Prueba Lateral en Ataque</h2>
        <h3 class="counter" id="counter">0:00</h3>
    </div>
    <div class="player-body">
        <div class="player-main">
            <ul class="timeline exam">
                <li class="active" data-question-id="1">Respecto de construcción en ataque, ¿cuáles son los aspectos técnicos básicos para su realización?</li>
                <li data-question-id="2">Respecto del concepto construcción en ataque.</li>
                <li data-question-id="3">En el Fútbol ¿A qué se hace referencia el concepto de ataque?</li>
                <li data-question-id="4">¿Cuáles son los Requisitos tácticos básicos para la elaboración de la construcción en ataque?</li>
                <li data-question-id="5" >La construcción en ataque puede ser ejecutada por</li>
                <li data-question-id="6" >Corre en forma diagonal en dirección al área, a la espalda del lateral izq...</li>
            </ul>
        </div>

        <div class="exam-content exam">
            <ul class="questions" data-answers-id="1">
                <li><p>toda acción ofensiva que tenga como objetivo principal convertir  un gol, a través de una  jugada mediante pases correctamente ejecutados, y  cuya  elaboración permita la creación de nuevos espacios tanto para avanzar como para penetrar en el área rival. Teniendo siempre en consideración el cuidado y tenencia del balón, sin exponerlo a acciones en donde no se tenga ventaja de su posesión.</p></li>
                <li><p>toda acción ofensiva que tenga como objetivo principal convertir  un gol, a través de una  jugada mediante pases correctamente ejecutados, y  cuya  elaboración permita la creación de nuevos espacios tanto para avanzar como para penetrar en el área rival. Teniendo siempre en consideración el cuidado y tenencia del balón, sin exponerlo a acciones en donde no se tenga ventaja de su posesión, y que necesariamente debe finalizar en gol.</p></li>
                <li><p>toda acción ofensiva que tenga como objetivo principal convertir  un gol, a través de una  jugada mediante pases correctamente ejecutados, y  cuya  elaboración permita la creación de nuevos espacios tanto para avanzar como para penetrar en el área rival. Teniendo siempre en consideración el cuidado y tenencia del balón, y a veces exponerlo a acciones en donde no se tenga ventaja de su posesión.</p></li>
                <li><p>toda acción ofensiva que tenga como objetivo principal ser del gusto de los espectadores, a través de una  jugada mediante pases correctamente ejecutados, y  cuya  elaboración permita la creación de nuevos espacios tanto para avanzar como para penetrar en el área rival. Teniendo siempre  en consideración el cuidado y tenencia del balón, sin exponerlo a acciones en donde no se tenga ventaja de su posesión.</p></li>
            </ul>
            <ul class="questions" data-answers-id="2">
                <li><p>toda acción ofensiva que tenga como objetivo principal convertir  un gol, a través de una  jugada mediante pases correctamente ejecutados, y  cuya  elaboración permita la creación de nuevos espacios tanto para avanzar como para penetrar en el área rival. Teniendo siempre en consideración el cuidado y tenencia del balón, sin exponerlo a acciones en donde no se tenga ventaja de su posesión.</p></li>
                <li><p>toda acción ofensiva que tenga como objetivo principal convertir  un gol, a través de una  jugada mediante pases correctamente ejecutados, y  cuya  elaboración permita la creación de nuevos espacios tanto para avanzar como para penetrar en el área rival. Teniendo siempre en consideración el cuidado y tenencia del balón, sin exponerlo a acciones en donde no se tenga ventaja de su posesión, y que necesariamente debe finalizar en gol.</p></li>
                <li><p>toda acción ofensiva que tenga como objetivo principal convertir  un gol, a través de una  jugada mediante pases correctamente ejecutados, y  cuya  elaboración permita la creación de nuevos espacios tanto para avanzar como para penetrar en el área rival. Teniendo siempre en consideración el cuidado y tenencia del balón, y a veces exponerlo a acciones en donde no se tenga ventaja de su posesión.</p></li>
                <li><p>toda acción ofensiva que tenga como objetivo principal ser del gusto de los espectadores, a través de una  jugada mediante pases correctamente ejecutados, y  cuya  elaboración permita la creación de nuevos espacios tanto para avanzar como para penetrar en el área rival. Teniendo siempre  en consideración el cuidado y tenencia del balón, sin exponerlo a acciones en donde no se tenga ventaja de su posesión.</p></li>
            </ul>
            <ul class="questions" data-answers-id="3">
                <li><p>toda acción ofensiva que tenga como objetivo principal convertir  un gol, a través de una  jugada mediante pases correctamente ejecutados, y  cuya  elaboración permita la creación de nuevos espacios tanto para avanzar como para penetrar en el área rival. Teniendo siempre en consideración el cuidado y tenencia del balón, sin exponerlo a acciones en donde no se tenga ventaja de su posesión.</p></li>
                <li><p>toda acción ofensiva que tenga como objetivo principal convertir  un gol, a través de una  jugada mediante pases correctamente ejecutados, y  cuya  elaboración permita la creación de nuevos espacios tanto para avanzar como para penetrar en el área rival. Teniendo siempre en consideración el cuidado y tenencia del balón, sin exponerlo a acciones en donde no se tenga ventaja de su posesión, y que necesariamente debe finalizar en gol.</p></li>
                <li><p>toda acción ofensiva que tenga como objetivo principal convertir  un gol, a través de una  jugada mediante pases correctamente ejecutados, y  cuya  elaboración permita la creación de nuevos espacios tanto para avanzar como para penetrar en el área rival. Teniendo siempre en consideración el cuidado y tenencia del balón, y a veces exponerlo a acciones en donde no se tenga ventaja de su posesión.</p></li>
                <li><p>toda acción ofensiva que tenga como objetivo principal ser del gusto de los espectadores, a través de una  jugada mediante pases correctamente ejecutados, y  cuya  elaboración permita la creación de nuevos espacios tanto para avanzar como para penetrar en el área rival. Teniendo siempre  en consideración el cuidado y tenencia del balón, sin exponerlo a acciones en donde no se tenga ventaja de su posesión.</p></li>
            </ul>
            <ul class="questions" data-answers-id="4">
                <li><p>toda acción ofensiva que tenga como objetivo principal convertir  un gol, a través de una  jugada mediante pases correctamente ejecutados, y  cuya  elaboración permita la creación de nuevos espacios tanto para avanzar como para penetrar en el área rival. Teniendo siempre en consideración el cuidado y tenencia del balón, sin exponerlo a acciones en donde no se tenga ventaja de su posesión.</p></li>
                <li><p>toda acción ofensiva que tenga como objetivo principal convertir  un gol, a través de una  jugada mediante pases correctamente ejecutados, y  cuya  elaboración permita la creación de nuevos espacios tanto para avanzar como para penetrar en el área rival. Teniendo siempre en consideración el cuidado y tenencia del balón, sin exponerlo a acciones en donde no se tenga ventaja de su posesión, y que necesariamente debe finalizar en gol.</p></li>
                <li><p>toda acción ofensiva que tenga como objetivo principal convertir  un gol, a través de una  jugada mediante pases correctamente ejecutados, y  cuya  elaboración permita la creación de nuevos espacios tanto para avanzar como para penetrar en el área rival. Teniendo siempre en consideración el cuidado y tenencia del balón, y a veces exponerlo a acciones en donde no se tenga ventaja de su posesión.</p></li>
                <li><p>toda acción ofensiva que tenga como objetivo principal ser del gusto de los espectadores, a través de una  jugada mediante pases correctamente ejecutados, y  cuya  elaboración permita la creación de nuevos espacios tanto para avanzar como para penetrar en el área rival. Teniendo siempre  en consideración el cuidado y tenencia del balón, sin exponerlo a acciones en donde no se tenga ventaja de su posesión.</p></li>
            </ul>
            <ul class="questions" data-answers-id="5">
                <li><p>toda acción ofensiva que tenga como objetivo principal convertir  un gol, a través de una  jugada mediante pases correctamente ejecutados, y  cuya  elaboración permita la creación de nuevos espacios tanto para avanzar como para penetrar en el área rival. Teniendo siempre en consideración el cuidado y tenencia del balón, sin exponerlo a acciones en donde no se tenga ventaja de su posesión.</p></li>
                <li><p>toda acción ofensiva que tenga como objetivo principal convertir  un gol, a través de una  jugada mediante pases correctamente ejecutados, y  cuya  elaboración permita la creación de nuevos espacios tanto para avanzar como para penetrar en el área rival. Teniendo siempre en consideración el cuidado y tenencia del balón, sin exponerlo a acciones en donde no se tenga ventaja de su posesión, y que necesariamente debe finalizar en gol.</p></li>
                <li><p>toda acción ofensiva que tenga como objetivo principal convertir  un gol, a través de una  jugada mediante pases correctamente ejecutados, y  cuya  elaboración permita la creación de nuevos espacios tanto para avanzar como para penetrar en el área rival. Teniendo siempre en consideración el cuidado y tenencia del balón, y a veces exponerlo a acciones en donde no se tenga ventaja de su posesión.</p></li>
                <li><p>toda acción ofensiva que tenga como objetivo principal ser del gusto de los espectadores, a través de una  jugada mediante pases correctamente ejecutados, y  cuya  elaboración permita la creación de nuevos espacios tanto para avanzar como para penetrar en el área rival. Teniendo siempre  en consideración el cuidado y tenencia del balón, sin exponerlo a acciones en donde no se tenga ventaja de su posesión.</p></li>
            </ul>
            <ul class="questions" data-answers-id="6">
                <li><p>toda acción ofensiva que tenga como objetivo principal convertir  un gol, a través de una  jugada mediante pases correctamente ejecutados, y  cuya  elaboración permita la creación de nuevos espacios tanto para avanzar como para penetrar en el área rival. Teniendo siempre en consideración el cuidado y tenencia del balón, sin exponerlo a acciones en donde no se tenga ventaja de su posesión.</p></li>
                <li><p>toda acción ofensiva que tenga como objetivo principal convertir  un gol, a través de una  jugada mediante pases correctamente ejecutados, y  cuya  elaboración permita la creación de nuevos espacios tanto para avanzar como para penetrar en el área rival. Teniendo siempre en consideración el cuidado y tenencia del balón, sin exponerlo a acciones en donde no se tenga ventaja de su posesión, y que necesariamente debe finalizar en gol.</p></li>
                <li><p>toda acción ofensiva que tenga como objetivo principal convertir  un gol, a través de una  jugada mediante pases correctamente ejecutados, y  cuya  elaboración permita la creación de nuevos espacios tanto para avanzar como para penetrar en el área rival. Teniendo siempre en consideración el cuidado y tenencia del balón, y a veces exponerlo a acciones en donde no se tenga ventaja de su posesión.</p></li>
                <li><p>toda acción ofensiva que tenga como objetivo principal ser del gusto de los espectadores, a través de una  jugada mediante pases correctamente ejecutados, y  cuya  elaboración permita la creación de nuevos espacios tanto para avanzar como para penetrar en el área rival. Teniendo siempre  en consideración el cuidado y tenencia del balón, sin exponerlo a acciones en donde no se tenga ventaja de su posesión.</p></li>
            </ul>
        </div>
    </div>
</section>